* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ------------ First section ------------

.section-top {
    display: flex;
    margin-left: 10%;
    gap: 10em;
    margin-top: 3em;
}

.section-top__left {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    gap: 2em;
    font-family: fonts.$main-font;
}

.section-top__left-topic {
    font-size: 22px;
}

.section-top__left-hello {
    font-size: 40px;
}

.section-top__right {
    font-family: fonts.$main-font;
    align-content: flex-end;
}

.section-top__right-quote {
    font-style: italic;
}

.section-top__right-line {
    border-top: solid;
    width: 1.5em;
    margin-bottom: 7px;
}

.focus {
    color: #4A4FF2;
}

// ---------- Gallery ------------

.gallery {
    margin-top: 10em;
    margin-bottom: 10em;
    margin-left: 10%;
    margin-right: 10%;
}

.gallery__grid-container {
    display: grid;
    gap: 1em;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "i1 i1 i1 i5 i5 i5 i9 i9 i9"
    "i1 i1 i1 i5 i5 i5 i9 i9 i9"
    "i1 i1 i1 i5 i5 i5 i9 i9 i9"
    "i1 i1 i1 i5 i5 i5 i9 i9 i9"
    "i1 i1 i1 i5 i5 i5 i9 i9 i9"
    "i1 i1 i1 i5 i5 i5 i9 i9 i9"
    "i1 i1 i1 i6 i6 i6 i9 i9 i9"
    "i2 i2 i2 i6 i6 i6 i9 i9 i9"
    "i2 i2 i2 i6 i6 i6 i9 i9 i9"
    "i2 i2 i2 i6 i6 i6 i9 i9 i9"
    "i2 i2 i2 i6 i6 i6 i10 i10 i10"
    "i2 i2 i2 i6 i6 i6 i10 i10 i10"
    "i2 i2 i2 i6 i6 i6 i10 i10 i10"
    "i2 i2 i2 i7 i7 i7 i10 i10 i10"
    "i2 i2 i2 i7 i7 i7 i10 i10 i10"
    "i3 i3 i3 i7 i7 i7 i10 i10 i10"
    "i3 i3 i3 i7 i7 i7 i10 i10 i10"
    "i3 i3 i3 i7 i7 i7 i11 i11 i11"
    "i3 i3 i3 i7 i7 i7 i11 i11 i11"
    "i3 i3 i3 i7 i7 i7 i11 i11 i11"
    "i3 i3 i3 i7 i7 i7 i11 i11 i11"
    "i3 i3 i3 i7 i7 i7 i11 i11 i11"
    "i3 i3 i3 i8 i8 i8 i11 i11 i11"
    "i4 i4 i4 i8 i8 i8 i11 i11 i11"
    "i4 i4 i4 i8 i8 i8 i11 i11 i11"
    "i4 i4 i4 i8 i8 i8 i11 i11 i11"
    "i4 i4 i4 i8 i8 i8 i12 i12 i12"
    "i4 i4 i4 i8 i8 i8 i12 i12 i12"
    "i4 i4 i4 i8 i8 i8 i12 i12 i12"
    "i4 i4 i4 i8 i8 i8 i12 i12 i12"
    "i4 i4 i4 i8 i8 i8 i12 i12 i12"
    "i4 i4 i4 i8 i8 i8 i12 i12 i12";
}

.gallery__grid-item__1 {
    grid-area: i1;
}

.gallery__grid-item__2 {
    grid-area: i2;
}

.gallery__grid-item__3 {
    grid-area: i3;
}

.gallery__grid-item__4 {
    grid-area: i4;
}

.gallery__grid-item__5 {
    grid-area: i5;
}

.gallery__grid-item__6 {
    grid-area: i6;
}

.gallery__grid-item__7 {
    grid-area: i7;
}

.gallery__grid-item__8 {
    grid-area: i8;
}

.gallery__grid-item__9 {
    grid-area: i9;
}

.gallery__grid-item__10 {
    grid-area: i10;
}

.gallery__grid-item__11 {
    grid-area: i11;
}

.gallery__grid-item__12 {
    grid-area: i12;
}